<section class="article-content">

  {{> modules/share-tools }}

  <p>Tuesday, 7:40 a.m. I am inching toward Boston’s Tobin Bridge in my 11-year-old Honda CRV, working my way through a breakfast bar with one hand and dialing into a conference call with another. </p>
<p>All around me, drivers are doing the same—texting, shaving, swiping through playlists, applying eyeliner, drumming on the steering wheel, barely looking where they’re going. It’s fine, because there’s nowhere to go. A digital sign at the side of the road estimates it will take us 35 minutes to travel the next 4 miles.</p>
<p>Welcome to driving, 2018: the polar opposite of the classic, joyful ride down a ribbon of open highway. “For a majority of Americans, it’s stressful, dangerous, costly, and time-consuming,” says Cotten Seiler, associate professor of American studies at Dickinson College and author of Republic of Drivers: A Cultural History of Automobility in America. </p>
<p>What do Americans do with activities that aren’t fun: washing clothes, doing the dishes, vacuuming? We automate them. Tech companies like Google, Tesla and Uber, alongside virtually every automobile manufacturer and hundreds of startups, are furiously developing technologies that will enable autonomous vehicles. And despite some notorious setbacks—most notably the Tempe, Arizona, pedestrian who was killed in March by an autonomous car operated by Uber—most technologists agree that driverless cars are inevitable. </p>
<p>This has led to some serious hand-wringing over the loss of an American experience, the uncomfortable shift from driving to being driven. An Audi ad this spring imagined a future where autonomous cars were ubiquitous, sterile, and soul-crushing—and cruising down the highway in a sportscar was the ultimate act of bourgeois rebellion).</p>
<p>But the truth, even for the upscale bourgeoisie, is a lot more prosaic and practical. When we think about what driving really means today, we probably won’t miss it at all.</p>
<hr>
<p>Of course, the shift to self-driving cars sounds daunting; it’s a massive leap of faith in machines, which feels as consequential as the (year) handoff from horse-and-buggy to “horseless carriage.” </p>
<p>But as momentous as the introduction of the automobile was, it didn’t fundamentally change behavior; people were still in the driver’s seat. A more apt analogy might be the advent of the ATM—viewed with suspicion, in the 1980s, by a population socialized to believe banking should be handled by a trusted teller behind bulletproof glass. Automated banking also required a shift in mindset, yet ATMs caught on almost immediately, simply because their 24/7 convenience was such a staggering improvement over bankers’ hours of 10 a.m. to 4 p.m. </p>
<p>But the best historical parallel might be the the fully automated Otis elevator —which, like driverless cars, felt at the time like a momentous physical risk. With no elevator operator present, riders had to trust that unseen technology was going to keep them safe. That’s why the original automatic elevators had large red “Run/Stop” buttons, which had no function except to give riders the illusion they were still in charge, says Seiler. Elevator music was invented as a similar psychological salve, to distract riders from the fact that no human was controlling the ascent. </p>
<p>Consumer automobiles for the past decade have already included more and more driver-assist features, which siphon off some of the work of driving to machines. As autonomous vehicle advocate Mitch Turck points out, ABS brakes were once considered cutting-edge; now they’re ubiquitous to the point where it’s illegal in most states to disable them. </p>
                    
			      <blockquote class="bq bq--feature">
			        <p data-share-text="share-1" style="font-style: normal; font-family: 'Grifo-BoldItalic'">As a signal of status, our relationship with our car has largely been replaced by our relationship with our devices.</p>
			    
			        <a href="#" class="btn--tertiary" data-share-btn="share-1"><svg version="1.1" id="icon-twitter" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="16.253px" viewBox="2.305 1.874 20 16.253" enable-background="new 2.305 1.874 20 16.253" xml:space="preserve" aria-labelledby="twitter-title" role="img">
	<title id="twitter-title">Tweet this</title>
	<g>
		<path d="M22.291,3.825c-0.572,0.841-1.258,1.556-2.05,2.126c0.017,0.129,0.017,0.302,0.017,0.525c0,1.111-0.156,2.206-0.475,3.301
		c-0.319,1.093-0.809,2.14-1.46,3.161c-0.651,1.013-1.43,1.901-2.334,2.665c-0.92,0.763-2.014,1.366-3.285,1.842
		c-1.273,0.477-2.635,0.701-4.096,0.682c-2.287,0-4.398-0.618-6.303-1.843c0.301,0.032,0.636,0.051,0.999,0.051
		c1.904,0,3.602-0.588,5.096-1.763c-0.889-0.016-1.683-0.286-2.396-0.808c-0.7-0.538-1.174-1.207-1.444-2.03
		c0.271,0.046,0.523,0.064,0.762,0.064c0.365,0,0.73-0.03,1.078-0.128c-0.934-0.189-1.729-0.668-2.364-1.414
		C3.401,9.51,3.082,8.638,3.101,7.635V7.588C3.672,7.907,4.289,8.081,4.94,8.113C4.385,7.731,3.923,7.257,3.59,6.652
		C3.26,6.065,3.101,5.415,3.101,4.7c0-0.745,0.19-1.43,0.571-2.081c1.029,1.269,2.269,2.285,3.729,3.033
		c1.459,0.762,3.032,1.191,4.714,1.285c-0.064-0.318-0.095-0.634-0.095-0.936c0-1.143,0.396-2.111,1.206-2.921
		c0.809-0.811,1.779-1.206,2.922-1.206c1.174,0,2.175,0.428,2.998,1.303c0.921-0.174,1.792-0.522,2.588-1
		c-0.317,0.967-0.903,1.715-1.794,2.253c0.791-0.095,1.566-0.303,2.365-0.635L22.291,3.825z" />
	</g>
</svg> Tweet this quote</a>
			        <a href="#" class="btn--tertiary"><svg version="1.1" id="icon-facebook" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" width="7px" height="15px" viewBox="-0.7 -1.5 7 15" enable-background="new -0.7 -1.5 7 15" xml:space="preserve" aria-labelledby="facebook-title" role="img">
	<title id="facebook-title">Share this</title>
	<g>
		<path d="M3.966,3.414H6.3l-0.275,2.58H3.952V13.5H0.847V5.994H-0.7v-2.58h1.547V1.862c0-1.11,0.261-1.949,0.788-2.513
		C2.155-1.215,3.016-1.5,4.213-1.5h2.07v2.578H4.995c-0.238,0-0.432,0.023-0.571,0.067c-0.144,0.042-0.246,0.114-0.311,0.21
		c-0.066,0.098-0.11,0.204-0.129,0.311c-0.024,0.11-0.032,0.26-0.032,0.457v1.289L3.966,3.414L3.966,3.414z" />
	</g>
</svg> Share this quote</a>
			      </blockquote>
                    
<p>Still, a fully autonomous automobile—one that can navigate all driving environments with no human intervention necessary—is as far as 30 years in the future, predicts Bryan Reimer, a research scientist at the MIT AgeLab. It’s most challenging to program “complex use cases” where vehicles interact at high speeds with the unpredictable movements of humans, be they drivers or pedestrians (the exact situation under which the Uber fatality occurred). And “even if the tech were ready today,” Reimer says, “it takes the better part of two decades to change over the fleet of automobiles in the U.S.”</p>
<p>So in between, Reimer says, we’ll see increasing degrees of autonomy. We’ll also see some psychological trickwork, interim design features added or retained to quell the expectations of “legacy drivers.” A new vehicle might have a steering wheel that can retract when it isn’t needed, or a pedal brake that drivers can press, even though there’s no longer an engineering reason to put the braking mechanism on the floor. </p>
<p>True autonomy is easiest to develop in low-speed, closed-track and other controlled-environment situations. That means within a few years, we could see slow-moving autonomous vehicles traveling along a track on city sidewalks to deliver packages, or driverless shuttles that travel short loops in dedicated lanes in city centers, as are already being tested in Las Vegas and elsewhere. </p>
<p>Next could come a hybrid-driving environment, where suburban residents might actively drive the first mile of their commute, then put their vehicle in autonomous mode to join a dedicated lane on a highway, then either re-engage to drive the last street-level mile in a city or use a dedicated lane to navigate off the highway to a pre-booked parking space—which, of course, the car will auto-park itself into. </p>
    
    <aside class="aside-list" data-aside-list>
    <h3 class="aside-list__hed">The 5 Levels of Auto Automation</h3>

    <ol class="aside-list__content">
      <li class="aside-list__item">
        <p class="aside-list__subhed">Level 1</p>
        <p class="aside-list__copy">“Hands on.” Think cruise control. You give the car control, but then you take it back.</p>
      </li>
      <li class="aside-list__item">
        <p class="aside-list__subhed">Level 2</p>
        <p class="aside-list__copy">“Hands off.” You let the car accelerate, brake, and steer–but you’re ready to step in at any time.</p>
      </li>
      <li class="aside-list__item">
        <p class="aside-list__subhed">Level 3</p>
        <p class="aside-list__copy">“Eyes off.” Go ahead and text or watch a movie. The car will let you know if it needs you.</p>
      </li>
      <li class="aside-list__item">
        <p class="aside-list__subhed">Level 4</p>
        <p class="aside-list__copy">“Mind Off.” Go to sleep. Hang out in the back seat. The car will park for you if you let it.</p>
      </li>
      <li class="aside-list__item">
        <p class="aside-list__subhed">Level 5</p>
        <p class="aside-list__copy">“Steering Wheel Optional.” Driver, you say? What’s a driver?</p>
      </li>
    </ol>
    <button type="button" class="aside-list__btn btn--secondary" data-btn-aside-list>Read more</button>
  </aside>

    
<p>Rural areas will come last, just as they were last to receive electricity or broadband Internet, predicts Turck. The issues are partly economic—a half-ton pickup that’s fully autonomous would be a challenge to develop and sell in large enough numbers to recoup costs—but partly psychological, Turck surmises. “Rural drivers are more likely to have that sense that ‘driving is a part of me, this is my culture,’ where city drivers do not,” he says.</p>
<h5 class="crosshed">Gone, baby, gone</h5>
<p>That’s the second part of the psychological shift: adjusting, not to technology, but to culture. Seiler, the historian, says we’re closer than we think. He pegs the heyday of American driving from the 1920s, when Americans began to transform the landscape around the automobile, to the early 1990s, when the Interstate Highway System was considered complete—just about the time urban and suburban congestion became bad enough to affect people’s lives in earnest.</p>
<p>Today, rural and exurban populations may still experience driving as independence, Seiler says. Some subcultures still prioritize the automobile; low-rider culture, for instance, is still huge among first and second-generation immigrant men in Southern California. </p>
<p>But on the whole, American identity is no longer bound up with the car, Seiler says. Even some car ads have changed, he notes: Instead of a high-end sedan on a curvy stretch of California coastline, “now you see images of cars driving fast down empty city streets at night. Given how much congestion>>footnote with stat most of us experience, an empty urban street is the new American fantasy.”</p>
<p>And as a signal of status, he says, your relationship with your car has largely been replaced by your relationship with your devices.</p>
<p>“It used to be part of your masculinity to say, ‘I can work on this car, I’m in control of this machine,’” Seiler says. “That’s been translated into the tech-bro culture. Now your technology is your identify, and your online presence is where you ‘are.’”   </p>
<p>Driverless cars are poised to exploit that idea, says Taşkın Padır, director of the robotics and intelligent vehicles research laboratory (RIVeR Lab) at Northeastern University. “The driverless car will become your office,” he says. “You can work, have a teleconference, while you commute.” </p>
                    
  {{> modules/newsletter }}

                    
<p>Padir and other driverless-car evangelists also point to broader social benefits of driverless technology. Autonomous vehicles, particularly in a ride-share scenario or as part of a taxi fleet, will ease urban congestion and give elderly, low-income and other mobility-challenged citizens equal access to transportation.</p>
<p>Most importantly, Padir says, driverless cars are expected to significantly reduce in the 1.25 million annual deaths worldwide related to automobiles, the vast majority of which are due to human error. </p>
<p>At a panel discussion on driverless technology at the Cambridge (Mass.) Innovation Center—held less than 24 hours after the Uber fatality in March—every speaker emphasized safety as the top benefit of autonomous vehicles. </p>
<p>“What we’re doing here as a group, as a collective, stands to have impact on public health and safety, on the 40,000 deaths per year in U.S. alone,” said Karl Iagnemma, CEO of Boston-based nuTonomy, which is developing software for driverless vehicles and has tested vehicles in the city’s Seaport district.</p>
<p>Those active arguments for autonomous cars, though, might wind up less important than the passive truth: if driverless cars are inexorable, they’re also easy. And to a generation of Americans accustomed to congestion and wedded to convenience—and less likely to seek escape by gazing out a windshield than by staring at a phone—driving is increasingly becoming something to avoid.</p>
<p>Adults aged x – y are x percent less likely to get their license when they’re first eligible and are buying cars y percent less frequently than 10 years ago. They’re already making the shift from thinking of driving as something you do to something you consume, a service rather than a skill. “As you have more options for mobility—as bike shares come in, and ride shares, more options for public transit—the idea of having a car is less interesting,” observes Turck. </p>
<p>“Kids these days are already not driving as much. I can’t see my 5-year-old needing to get a driver’s license,” agrees Northeastern’s Padır. “Uber and Lyft are changing the way we think about driving. I drive my car to work, but I don’t take it out midday if I have an appointment, not when parking is such a problem. I pay the fee for a ride share.”</p>
<p>[feels like it could still use a wee bit of transition here…? Also maybe worth noting that with companies like Zemcar, ride-sharing is even getting into the work of carpooling kids – could that be a future of autonomous cars? Not sure but worth considering.]</p>
<p>Once the technology is ready, “adoption is going to happen very quickly,” says Seiler. “precisely because modern driving is not empowering, it’s not fun, and it’s not exhilarating. People will say, ‘I don’t need to be here.’” </p>
                    <p class="pubdate">Published on <time datetime="2018-10-02">October 2, 2018</time></p>


<p>
			     
			    
			      <div class="author-bio">
			        <p>Tracy Mayor has published essays and articles in The Boston Globe Magazine, Boston Magazine, The Improper Bostonian, Child Magazine, Writer’s Digest, Brain,Child, Fitness and on Salon.com. She lives outside Boston with her husband and two sons. Find her at <a href="tracymayor.com">tracymayor.com</a> or on Twitter <a href="https://twitter.com/mommyprayers">@mommyprayers</a>.</p>
			      </div>
			    

  

  {{> modules/discuss-cta }}

</section>